sudo: required
dist: trusty
language: node_js
before_install:
  - sudo rm -rf /var/lib/cassandra/*
  - docker run --name=cassandra
        --env="CASSANDRA_BROADCAST_ADDRESS=127.0.0.1"
        --env="CASSANDRA_LISTEN_ADDRESS=127.0.0.1"
        --env="CASSANDRA_ENDPOINT_SNITCH=SimpleSnitch"
        --env="CASSANDRA_VERSION=3.7"
        --env="CASSANDRA_CONFIG=/etc/cassandra"
        --net=host
        -d vertebrae/cassandra:3.7.0
        cassandra -f
  - sleep 10
script:
  - ./node_modules/.bin/grunt test
after_success:
  - npm run report
node_js:
  - '7.0.0'
  - '6.6.0'
  - '6.4.0'
  - '5.10.1'
  - '5.0.0'
git:
  depth: 3
